@* 
 This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
    This is where you can add, modify, or remove navigation options in your app
    TODO: This preserves the links as-is for the demo, which lead to broken pages!
    It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header"><i class="fa fa-dashboard fa-2x" style="color:#3c8dbc;padding-right: 10px;"></i> <span style="color:#3c8dbc;font-size:16px;">Dashboard</span> <i class="fa fa-angle-left pull-right"></i></li>

            <li class="treeview"><a href="@Url.Action("Notifications", "Monitoring")"><i class="fa fa-bell-o"></i> <span>Notifications</span></a></li>
                <li class="header"><i class="fa fa-circle-o text-danger" style="padding-right:5px;padding-left:5px;"></i> Important</li>
                <li class="header"><i class="fa fa-circle-o text-warning" style="padding-right:5px;padding-left:5px;"></i> Warning</li>
                <li class="header"><i class="fa fa-circle-o text-info" style="padding-right:5px;padding-left:5px;"></i> Information</li>


            <li class="treeview"><a href="@Url.Action("VMs", "Monitoring")"><i class="fa fa-desktop"></i> <span>VMs</span></a></li>

   
            <li class="treeview">
                <a href="@Url.Action("Graphs", "Monitoring")">
                    <i class="fa fa-area-chart"></i> <span>Monitoring Graphs</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa  fa-play"></i> <span>Performance Test</span>
                </a>
            </li>

        </ul>
    </section>

    <!-- /.sidebar -->
</aside>



